<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}
<body id="page-top">
{{- partial "header.html" . -}}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        {{ with site.Data.homepage.main }}
                        <h1 class="mx-auto my-0 text-uppercase">{{ .header.title }}</h1>
                        <h2 class="text-white mx-auto mt-2 mb-5">{{ .header.description }}</h2>
                        <a class="btn btn-primary" href="{{ .header.button.url }}">{{ .header.button.text }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        {{ with site.Data.homepage.preorder }}
        <section class="about-section text-center" id="preorder">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">{{ .title }}</h2>
                        <p class="text-white">
                        Remastered and available on vinyl for the first time
                        </p>
                        <p class="text-white">
                        Includes 13 track bonus LP featuring 8 previously unreleased demo recordings
                        </p>
                        <p class="text-white">
                        52 page book featuring extensive liner notes, forwarded and track by track by Joe Pernice, previously unseen photographs, and more
                        </p>
                        <p class="text-white">
                        Lyrics printed for the first time
                        </p>
                        <p class="text-white">
                        Pressed on orange & white splatter vinyl
                        </p>
                        <p class="text-white">
                        Includes 5x7 print autographed by Joe Pernice
                        </p>
                        <h2 class="text-white">Out May 19th</h2>
                        {{ if .button.enable }}
                        <a class="btn btn-primary about-btn" href="{{ .button.url }}">{{ .button.text }}</a>
                        {{ end }}
                    </div>
                </div>
                <img class="img-fluid" src="{{ .image }}" alt="..." />
            </div>
        </section>
        {{ end }}
        <!-- Projects-->
        {{ with site.Data.homepage.projects }}
        <section class="projects-section bg-light" id="projects">

            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <iframe width="560" height="432" src="https://www.youtube.com/embed/f3xVDHULZMc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="container px-4 px-lg-5">&nbsp;</div>

            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{{ .card1.img }}" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <p class="mb-0 text-white-50">{{ .card1.text }}</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                    <h4 class="text-white">{{ .card1.title }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{{ .card2.img }}" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <p class="mb-0 text-white-50">{{ .card2.text }}</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                    <h4 class="text-white">{{ .card2.title }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{{ .card3.img }}" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <p class="mb-0 text-white-50">{{ .card3.text }}</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                    <a href="{{ .card3.link }}"><h4 class="text-white">{{ .card3.title }}</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ end }}

        <section class="tour-section" id="tour">
            <div class="container px-6 px-lg-6">
                <div class="row gx-6 gx-lg-6">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="fa fa-calendar fa-2x mb-2 text-white" aria-hiden="true"></i>
                        <h2 class="text-white mb-5">Tour</h2>
                        <h5><em>Performing the album in its entirety:</em></h5>
                        <p>Thursday, May 18th, Somerville, MA <br />Crystal Ballroom</p>
                        <p>Friday, May 19 <br/> Racket, New York City</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                        <form class="form-signup" id="contactForm" data-sb-form-api-token="{{ site.Params.sbtoken }}">
                            <div class="row input-group-newsletter">
                                <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                                <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button></div>
                            </div>
                            <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                            <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3 mt-2 text-white">
                                    <div class="fw-bolder">Form submission successful!</div>
                                </div>
                            </div>
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="{{ site.Params.instagram }}"><i class="fab fa-instagram"></i></a>
                    <a class="mx-2" href="{{ site.Params.facebook }}"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="{{ site.Params.substack }}"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a class="mx-2" href="{{ site.Params.bandcamp }}"><i class="fab fa-bandcamp" aria-hidden="true"></i></a>
                </div>
            </div>
        </section>
{{- partial "footer.html" . -}}
</body>
</html>